<!DOCTYPE html>
<html>
  <head>
    <title>Workoutbook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <% if logged_in? %>
      <script type="text/javascript">
        window.currentUser = {
          'id': <%= current_user.id %>,
          'email' : "<%= current_user.email %>"
        }
      </script>
    <% end %>

    <script type='text/javascript'>
      window.logo = '<%= image_url('dumbbell.jpg') %>'
    </script>
    
    <link rel=”shortcut icon” href=”%PUBLIC_URL%/favicon.ico”>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
